<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chart with Flask and amCharts 5</title>
    
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>


    <script src="/static/chart1.js"></script>
    <script src="/static/chart2.js"></script>
    <script src="/static/chart3.js"></script>
    <script src="/static/chart4.js"></script>

    <link rel="stylesheet" href="/static/style.css">
</head>


<body>
<div class="container">
    <h1>Avg Weekly Sales Per Store</h1>
    <div id="chartdiv1"></div>
    <h1>Proportion of Weekly Sales by Holiday vs. Non-Holiday</h1> 
    <div id="chartdiv2"></div>
</div>

<div class="container">
    <h1>Weekly Sales by Temperature and Store</h1>
    <div id="chartdiv3"></div>   
    <h1>Fuel Price Variation by Store</h1>
    <div id="chartdiv4"></div>   
</div>

</body>
</html>